<section id="contact" class="flex-1 items-center justify-center flex flex-col relative py-20 md:py-36">
    <div class="flex-1 w-[90%] md:w-[80%] flex flex-col md:flex-row items-center gap-y-10 md:gap-y-0">
      <!-- Contact Information -->
      <div class="text-start md:-mr-24 z-20 flex flex-col bg-gradient-to-br from-orange-300 to-orange-700 rounded-xl py-10 px-6 md:py-16 md:px-8 w-full md:w-auto">
        <h1 class="text-xl md:text-2xl font-bold text-white mb-4">Contact Us</h1>
        <div class="flex items-center text-white py-2">
          <i class="fa fa-phone text-lg mr-3" aria-hidden="true"></i>
          <p>+250 782214 360 <br />0726659859</p>
        </div>
        <div class="flex items-center text-white py-2">
          <i class="fa fa-envelope text-lg mr-3" aria-hidden="true"></i>
          <p>ngogainnocent1@gmail.com</p>
        </div>
        <div class="flex items-center text-white py-2">
          <i class="fa fa-whatsapp text-lg mr-3" aria-hidden="true"></i>
          <p>+250 782214 360</p>
        </div>
      </div>
  
      <!-- Form Section -->
      <div class="w-full md:flex-1 bg-white py-6 rounded-lg flex flex-col items-center text-center">
        <h1 class="font-bold text-xl md:text-2xl mb-2">Get in Touch</h1>
        <p class="text-sm md:text-base text-gray-700 mb-6">
          Leave an email or message, and we will get back to you as soon as possible.
        </p>
        <form action="" class="w-[90%] md:w-[80%] flex flex-col space-y-4">
          <input
            type="text"
            placeholder="Full Name"
            class="p-2 rounded-lg bg-gray-100 text-black font-medium outline-none"
          />
          <input
            type="email"
            placeholder="Email"
            class="p-2 rounded-lg bg-gray-100 text-black font-medium outline-none"
          />
          <textarea
            placeholder="Message"
            class="p-2 rounded-lg bg-gray-100 text-black font-medium outline-none h-32 resize-none"
          ></textarea>
          <button
            type="submit"
            class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-8 md:px-14 rounded-full self-center"
          >
            Send
          </button>
        </form>
      </div>
    </div>
   
  </section>
  